.race-row {
	background-color: #303030;
	border-radius: 8px;
	margin:5px;
}

.delete-button {
	background:none;
	border:none;
	padding-right:10px;
	padding-top: 5px;
	float:right;
	color:red;
	cursor:pointer;
}

.delete-button:active,
.delete-button:focus {
	border:none;
	outline:none;
	color:#890d00;
}

.titles {
	color:#8d8d8d;
}