<!DOCTYPE html>
<html>
	<head>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}" />
    	<link rel="shortcut icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<title>Chip Inventory</title>
	</head>

	<body>
		{% include "navbar.html" with active='signup' %}
		<div class="register-box container">
		    <center>
		    	<h2>Edit Chips Here!</h2>
		    	<br>
		    	{% block content %}
		    		<form method="POST" action="">
		    			{% csrf_token %}
		    			<table>
		    	<!-- This form is created on the view.py page under the "class addChip" -->
		    				{{formedit}}
		    			</table>
		    			<a href= "/chips/"
		    			 class="btn btn-danger" style="margin-top:12px;border-radius: 5px; border-width: 2px; ">Cancel</a>
		    			<button type="submit" class="btn btn-secondary" style="margin-top:12px;border-radius: 5px; border-width: 2px; ">Submit Changes</button>
		    		</form>
		    	{% endblock %}			    
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<!-- Include all compiled plugins (below), or include individual files as needed -->
  		<script src="{% static 'default/js/bootstrap.min.js' %}"></script>
	</body>
</html>