<!DOCTYPE html>
<html>
	<head>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}" />
      <link rel="shortcut icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
      <link rel="icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
      <title>Event Creation</title>
	</head>

	<body>
		{% include "navbar.html" with active='events' %}

		<div class="register-box container">
    <form action= "{% url "create_event" %}" method="POST">{% csrf_token %}
      <div class="row">
        <div class="form-group col-sm-5">
          <label for="eventname">Event Name</label>
          <input class = "form-control" type="text" name="POSTEname" id="eventname" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-2">
          <input class = "form-control" type="submit" value="Register">
        </div>
      </div>
    </form>
  </div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<!-- Include all compiled plugins (below), or include individual files as needed -->
  		<script src="{% static 'default/js/bootstrap.min.js' %}"></script>
	</body>
</html>