<!DOCTYPE html>
<html>
	<head>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}" />
	</head>

	<body>
		{% include "navbar.html" with active='signup' %}
		<div class="register-box container">
		    <center>
		    	<h2>FINISH!!!!!!</h2>
		    	<br>
		    	{% block content %}
		    		<form method="POST" action="">
		    			{% csrf_token %}
		    			<table>
		    	<!-- This form is created on the view.py page under the "class addChip" -->
		    				{{form}}
		    			</table>
		    			<button type="submit" class="btn btn-secondary" style="margin-top:12px;border-radius: 5px; border-width: 2px; ">Add</button>
		    		</form>
		    	{% endblock %}			    
		</div>
		<br>
		<div style="position: relative; align-content: center; width:50%; left:32px;">
		<table class="table">
			<thead>
				<tr>
					<th>Chip ID</th>
					<th>Description</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<h5> There are a total of {{n}} chips </h5>
				{% for chip in mychips %}
				<tr>
					<td>{{chip.chipname}}</td>
					<td>{{chip.descrip}}</td>
					<td><a href= "/chipsedit/chip={{chip.id}}" class="btn btn-secondary" role="button">Edit</a></td>
					<td><a href= "/chipsdelete/chip={{chip.id}}" class="btn btn-danger" role="button">Delete</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<!-- Include all compiled plugins (below), or include individual files as needed -->
  		<script src="{% static 'default/js/bootstrap.min.js' %}"></script>
	</body>
</html>