<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'register/register.css' %}" />
    <title>Sign Up</title>
    <link rel="shortcut icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
  </head>

<body>
  {% include "navbar.html" with active='register' %}

  <div>
    Enter your information here to register yourself as a ProRunner!
  </div><br>

  <div class="register-box container">
    <form action= "{% url "form_confirm" %}" method="POST">{% csrf_token %}
      <div class="form-group">
        <label for="enterusername">Username</label>
        <input class = "form-control" type="text" name="POSTusername" id="enterusername" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class = "form-control" type="password" name="POSTpassword" id="password" required>
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input class = "form-control" type="password" name="POSTpasswordmatch" id="confirm_password" required>
      </div>
      <div class="form-group">
        <label for="enterfname">First Name</label>
        <input class = "form-control" type="text" name="POSTfname" id="enterfname" required>
      </div>
      <div class="form-group">
        <label for="enterlname">Last Name</label>
        <input class = "form-control" id="enterlname" type="text" name="POSTlname" required>
      </div>
      <div class="form-group">
        <label for="enterpnumber">Phone Number</label>
        <input class = "form-control" type="tel" id="enterpnumber" name="POSTpnumber" required> 
      </div>
      <div class="form-group">
        <label for="enterfdob">Birthdate</label>
        <input class = "form-control" id="enterdob" type="date" name="POSTdob" required>
      </div>
      <fieldset class="form-group">
        <label for="genderoptions">Gender</label>
        <div class="form-check" id="genderoptions">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="POSTgender" id="optionsRadios1" value="Male" checked>
            Male
          </label>
        </div>
        <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="POSTgender" id="optionsRadios2" value="Female">
            Female
          </label>
        </div>
        <div class="form-check disabled">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="POSTgender" id="optionsRadios3" value="Other" disabled>
            Other
          </label>
        </div>
      </fieldset>
      <div class="form-group">
        <label for="enteraddress">Mailing Address</label>
        <input class = "form-control" id="enteraddress" type="text" name="POSTaddress" required>
      </div>
      <div class="form-group">
        <label for="enteremail">Email address</label>
        <input class = "form-control" type="text" name="POSTemail" id="enteremail" required>
        <small  id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <input class = "form-control" type="submit" value="Register">
      </div>
    </form>
  </div>
  <!-- <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleSelect1">Example select</label>
      <select class="form-control" id="exampleSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleSelect2">Example multiple select</label>
      <select multiple class="form-control" id="exampleSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Example textarea</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
    </div>
    <fieldset class="form-group">
      <legend>Radio buttons</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Option one is this and that&mdash;be sure to include why it's great
        </label>
      </div>
      <div class="form-check">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
          Option two can be something else and selecting it will deselect option one
        </label>
      </div>
      <div class="form-check disabled">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
          Option three is disabled
        </label>
      </div>
    </fieldset>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->

  <script src="{% static 'register/register.js' %}"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'default/js/bootstrap.min.js' %}"></script>
</body>
</html>