<!DOCTYPE html>
<html>
	<head>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}" />
    	<link rel="shortcut icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<title>Login</title>
	</head>

	<body>
	{% include "navbar.html" with active='login' %}
		<div class="container">
			<div class="register-box">
			    <form action= "{% url "loginpass" %}" method="POST">{% csrf_token %}
				    <div class="row justify-content-center">
				      <div class="form-group">
				        <label for="enterfname">Username</label>
				        <input class = "form-control" type="text" name="username" id="enterfname" required>
				      </div>
				    </div>
				    <div class="row justify-content-center">
				      <div class="form-group">
				        <label for="enterlname">Password</label>
				        <input class = "form-control" id="enterlname" type="password" name="password" required>
				      </div>
				    </div>
				    <div class="row justify-content-center">
				      <div class="form-group">
				      	<input type="hidden" name="next" value="{{ nexturl }}">
				        <input class = "form-control" type="submit" value="Login">
				      </div>
				    </div>
			    </form>
			  </div>
			  <div class="row justify-content-center">
			  	<p>Not a ProRunner yet? </p>
			  	<a href="{% url 'form' %}">&nbsp;Sign up!</a>
			  </div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<!-- Include all compiled plugins (below), or include individual files as needed -->
  		<script src="{% static 'default/js/bootstrap.min.js' %}"></script>
	</body>
</html>