<style>
  body { padding-top: 70px; } 
  </style>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'home' %}">ProRunner Utah</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if active == 'signup' %} active {% endif %}">
        <a class="nav-link" href="{% url 'signup' %}">Signup <span class="sr-only">(current)</span></a>
      </li>
      <a class="nav-link {% if active == 'signup' %} active {% endif %}" href="{% url 'results_events' %}">Results <span class="sr-only"></span></a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'events' %}">New Event</a>
          <a class="dropdown-item" href="{% url 'races' %}">New Race</a>
          <a class="dropdown-item" href="{% url 'onsite' %}">Bib/chip dispersal</a>
          <a class="dropdown-item" href="{% url 'all_chips' %}">Chip Inventory</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.get_username }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item {% if active == 'login' %} active {% endif %}">
        <a class="nav-link" href="{% url 'profile' %}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>