<!DOCTYPE html>
<html>
	<head>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}" />
    	<link rel="shortcut icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<title>Onsite Registration</title>
	</head>

	<body>
		{% include "navbar.html" with active='onsite' %}

		<div class="register-box container">
		    <form action= "{% url "onsite_p2" %}" method="POST">{% csrf_token %}
		    	<label for="eventSelect">Event:</label>
		    	<div class="form-group row">
		    		<div class="col-sm-4">
				    	<select class="form-control" id="eventSelect"  name="POSTeid">
				    		<option selected>Choose...</option>
				    	{% for row in eventsList %}
				    		<option value="{{ row.0 }}">{{ row.1 }}</option>
				    	{% endfor %}
				    	</select>
		    		</div>
				    <input class = "btn btn-secondary" type="submit" value="Go">
			    </div>
		    </form>
		</div>

		{% if event_name != None %}
		<div class="container">
			<p>Races in {{event_name.0}} </p>
		</div>
		<div class="register-box container">
		    <form action= "{% url "bib_submit" %}" method="POST">{% csrf_token %}
		    	<div class="row">
		    		<div class="form-group col-sm-5">
				    	<label for="raceSelect">Race:</label>
				    	<select class="form-control" name="POSTrid" id="raceSelect">
				    	{% for row in racesList %}
				    		<option value="{{ row.0 }}">{{ row.1 }}</option>
				    	{% endfor %}
				    	</select>
			    	</div>
			    </div>
		    <form action= "{% url "bib_submit" %}" method="POST">{% csrf_token %}
		    	<div class="row">
			      	<div class="form-group col-sm-5">
			        	<label for="enterusername">Runner Username</label>
			        	<input class = "form-control" type="text" name="POSTusername" id="enterusername" required>
			      	</div>
			    </div>
			    <div class="row">
			      	<div class="form-group col-sm-5">
			        	<label for="password">Bib Number</label>
			        	<input class = "form-control" type="text" name="POSTbib" id="password" required>
			      	</div>
			    </div>
			    <div class="row">
			      	<div class="form-group col-sm-5">
			        	<label for="password">Chip Number</label>
			        	<input class = "form-control" type="text" name="POSTchip" id="password" required>
			      	</div>
			    </div>
			    <div class="row">
			      	<div class="form-group col-sm-2">
			        	<input class = "form-control" type="submit" value="submit">
			      	</div>
			    </div>
		    </form>
		 </div>

		 {% endif %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<!-- Include all compiled plugins (below), or include individual files as needed -->
  		<script src="{% static 'default/js/bootstrap.min.js' %}"></script>
	</body>
</html>