<!DOCTYPE html>
<html>
	<head>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}" />
    	<link rel="shortcut icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<title>My Profile</title>
	</head>

	<body>
		{% include "navbar.html" with active='profile' %}
		<div class="container">
		{% if size != 0 %}
			{% for row in registry %}
			<div class="col-md-10 race-row">
				<div  class="row titles">
					<div class="col-md-3">Event Name</div>
					<div class="col-md-2">Race Name</div>
					<div class="col-md-2">Distance</div>
					<div class="col-md-2">Start Time</div>
					<div class="col-md-2">T-Shirt Size</div>
					<form action="{% url 'deleteSignup' %}" method="post">{% csrf_token %}
						<input type="hidden" value="{{ row.0 }}" name="POSTid">
						<button type="submit" onclick="return confirm('Are you sure you wish to withdraw from this race?')" class="fa fa-times delete-button"></button>
					</form>
				</div>
				<div  class="row">
					<div class="col-md-3">{{ row.11 }}</div>
					<div class="col-md-2">{{ row.6 }}</div>
					<div class="col-md-2">{{ row.7 }}</div>
					<div class="col-md-2">{{ row.8 }}</div>
					<div class="col-md-2">{{ row.1 }}</div>
				</div>
			</div>
			{% endfor %}
		{% else %}
			You are not currently signed up for any races!<a href="{% url 'signup' %}"> Get out there and run!</a>
		{% endif %}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<!-- Include all compiled plugins (below), or include individual files as needed -->
  		<script src="{% static 'default/js/bootstrap.min.js' %}"></script>
	</body>
</html>