<!DOCTYPE html>
<html>
	<head>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}" />
    	<link rel="shortcut icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<title>Race Signup</title>
	</head>

	<body>
		{% include "navbar.html" with active='signup' %}

		<div class="register-box container">
		    <form action= "{% url "signup_p2" %}" method="POST">{% csrf_token %}
		    	<label for="eventSelect">Event:</label>
		    	<div class="form-group row">
		    		<div class="col-sm-4">
				    	<select class="form-control" id="eventSelect"  name="POSTeid">
				    		<option selected>Choose...</option>
				    	{% for row in eventsList %}
				    		{% if sel_event == row.0 %}
				    		<option value="{{ row.0 }}" selected>{{ row.1 }}</option>
				    		{% else %}
				    		<option value="{{ row.0 }}">{{ row.1 }}</option>
				    		{% endif %}
				    	{% endfor %}
				    	</select>
		    		</div>
				    <input class = "btn btn-secondary" type="submit" value="Go">
			    </div>
		    </form>
		</div>



		{% if event_name != None %}
		<div class="container">
			<p>Races for {{event_name.0}}</p>
		<div>
		<div class="register-box container">
		    <form action= "{% url "enter_race" %}" method="POST">{% csrf_token %}
		    	<div class="row">
		    		<div class="form-group col-sm-5">
				    	<label for="raceSelect">Race:</label>
				    	<select class="form-control" name="POSTrid" id="raceSelect">
				    	{% for row in racesList %}
				    		<option value="{{ row.0 }}">{{ row.1 }}</option>
				    	{% endfor %}
				    	</select>
			    	</div>
			    </div>
			    <fieldset class="form-group">
			        <label for="Shirtoptions">T-Shirt Size</label>
			        <div class="form-check">
			          	<label class="form-check-label">
			            	<input type="radio" class="form-check-input" name="POSTtshirt" value="S">
			            	S
			          	</label>
			        </div>
			        <div class="form-check">
			          	<label class="form-check-label">
			            	<input type="radio" class="form-check-input" name="POSTtshirt" value="M">
			            	M
			          	</label>
			        </div>
			        <div class="form-check">
			          	<label class="form-check-label">
			            	<input type="radio" class="form-check-input" name="POSTtshirt" value="L" checked>
			            	L
			          	</label>
			        </div>
			        <div class="form-check">
			          	<label class="form-check-label">
			            	<input type="radio" class="form-check-input" name="POSTtshirt" value="XL">
			            	XL
			          	</label>
			        </div>
			        <div class="form-check">
			          	<label class="form-check-label">
			            	<input type="radio" class="form-check-input" name="POSTtshirt" value="XXL">
			            	XXL
			          	</label>
			        </div>
			      
			      </fieldset>

			    <div class="form-group row">
			        <input class = "form-control col-sm-2" type="submit" value="Signup">
			    </div>
		    </form>
		</div>
		{% endif %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<!-- Include all compiled plugins (below), or include individual files as needed -->
  		<script src="{% static 'default/js/bootstrap.min.js' %}"></script>
	</body>
</html>