<!DOCTYPE html>
<html>
	<head>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}" />
    	<link rel="shortcut icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<title>Race Creation</title>
	</head>

	<body>
		{% include "navbar.html" with active='races' %}
		<div class="register-box container">
		{% if size != 0 %}
		    <form action= "{% url "create_race" %}" method="POST">{% csrf_token %}
				<fieldset class="form-group">
					<label for="selectEvent">Event</label>
				        <div class="form-check" id="selectEvent">
						{% for row in eventsList %}
				          <label class="form-check-label">
				            <input type="radio" class="form-check-input" name="POSTeventId" id= "{{ row.0 }}" value="{{ row.0 }}" checked>
				            {{ row.1 }}
				          </label><br>
				   		{% endfor %}
				   		</div>
	      		</fieldset>
	      		<div class="row">
			      	<div class="form-group col-sm-5">
			        	<label for="racename">Race Name</label>
			        	<input class = "form-control" type="text" name="POSTRname" id="racename" required>
			      	</div>
		      	</div>
		      	<div class="row">
			      	<div class="form-group col-sm-5">
			       	 	<label for="distance">Length of Race</label>
			        	<input class = "form-control" type="text" name="POSTdist" id="distance" required>
			      	</div>
			    </div>
			    <div class="row">
			      	<div class="form-group col-sm-5">
			        	<label for="starttime">Start Time</label>
			        	<input class = "form-control" type="text" name="POSTStime" id="starttime" required>
			     	</div>
			    </div>
			    <div class="row">
			      	<div class="form-group col-sm-2">
			        	<input class = "form-control" type="submit" value="Create Race">
			      	</div>
			    </div>
		    </form>
  		</div>
  		{% else %}
  			There are no events created, <a href="{% url 'events'%}">Make an Event</a>
  		{% endif %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<!-- Include all compiled plugins (below), or include individual files as needed -->
  		<script src="{% static 'default/js/bootstrap.min.js' %}"></script>
	</body>
</html>