<!DOCTYPE html>
<html>
	<head>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}" />
    	<link rel="shortcut icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'default/favicon.ico' %}" type="image/x-icon">
		<title>Results</title>
	</head>

	<body>
		{% include "navbar.html" with active='signup' %}
		<div class="register-box container">
		    <center>
		    	{%for event in eventselected%}
		    		<h2>{{event.ename}} Results</h2>
		    	{% endfor %}
		    	<br><br>
		    		{% csrf_token%}
		    		{% for race in races%}
		    	<a href="../results/resultsOverall={{race.id}}">
		    	<div class = "col-sm-6 col-md-6 col-xs-6" style="position: relative; width: 75%; border-style: solid; border-radius: 5px; border-width: 5px; border-color: black;">
		    			<img src="{% static 'default/run.png' %}" style="left: 100px; height:50px; width: auto; max-width: 500px;"><p>{{race.rname}}</p>
		    		
		    	</div></a><br>
		    		{% endfor%}
		    			
		    		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<!-- Include all compiled plugins (below), or include individual files as needed -->
  		<script src="{% static 'default/js/bootstrap.min.js' %}"></script>
	</body>
</html>