<!DOCTYPE html>
<html>
<head>
<title>signup</title>
</head>
<body>

<center><h3>Signup!!</h3></center>

<form method ="post">
  First name:<br>
  <input type="text" name="fname"><br>
  Last name:<br>
  <input type="text" name="lame">
  <input type="submit" value="OK">
</form>

<br><br>
<h4>These are the total users!</h4>
{%for Person in Persons%}
{{Person.fname}}
{{Person.lname}}
<br>
{%endfor%}
<p>Woot!</p>


</body>
</html>