<!DOCTYPE html>
<html>
	<head>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}" />
	</head>

	<body>
		{% include "navbar.html" with active='signup' %}
		<div class="register-box container">
		    <center>
		    	<h2>START!!!!!!</h2>
		    	{{race.rname}}
		    </center>
		    <form action="" method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    	<input type="file" name="theFile"/>
		    	<input type="submit" value="Upload"/>
		    </form>
		</div>
		{{readfile}}
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<!-- Include all compiled plugins (below), or include individual files as needed -->
  		<script src="{% static 'default/js/bootstrap.min.js' %}"></script>
	</body>
</html>