<!DOCTYPE html>
<html>
	<head>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}" />
	</head>

	<body>
		{% include "navbar.html" with active='signup' %}
		<div class="register-box container">
		    <center>
		    <h1>START or FINISH</h1>
		    	<h3>Select TIMINGPOINT to import</h3>
		    	<br>
		    	{% for event in selectedEvent %}
		    		EVENT: {{event.ename}}
		    	{% endfor %}
		    		<br>
			    	{% for race in selectedRace %}
			    		RACE: {{race.rname}}
				<br>
			    <a href= "../timingStart/race={{race.id}}"
		    			 class="btn btn-primary" style="margin-top:12px;border-radius: 5px; border-width: 2px; ">Start</a>
		    			<a href= "../timingFinish/race={{race.id}}"
		    			 class="btn btn-primary" style="margin-top:12px;border-radius: 5px; border-width: 2px; ">Finish</a>  	
		{% endfor %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<!-- Include all compiled plugins (below), or include individual files as needed -->
  		<script src="{% static 'default/js/bootstrap.min.js' %}"></script>
	</body>
</html>