<!DOCTYPE html>
<html>
	<head>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}" />
	</head>

	<body>
		{% include "navbar.html" with active='signup' %}
		<div class="register-box container">
		    <center>
		    	<h2>Import times from mats</h2>
		    	<br><br>
		    	Which Event?
		    				<!-- {{eventform}} -->
		    	<form method = "post" action = "">
		    			{% csrf_token%}	    		
		    		 <select name = "drop1">
		    		<option>---SELECT---</option>
		    			{% for event in eventOptions %}
		    		}
				   <option value="{{event.id}}">
				       		{{event.ename|capfirst}}
				   </option>
				   		{% endfor %}
				   </select>
				   <input class="btn btn-ocean btn-side-bar" type = "submit" value="Submit">
				</form>
						
		    	<br><br>
		    	Which Race?
				
				   



				   <br>
	    		<form method = "post" action="">				    			{% csrf_token%}	
	    		<select  name = "drop2">    
				   	{% for race in raceOptions %}
				   <option type="radio" value="{{race.id}}" name="limit"> {{race.rname}}
				   <br>
				   	{% endfor %}
				</select>
				   	<input type="Submit" value="Submit">
				</form>

		    	<br><br><br>

		    	<!-- 
		    		<form method="POST" action="">
		    			{% csrf_token %}
		    			<table>
		    				{{formreads}}
		    			</table>
		    			<button type="submit" class="btn btn-secondary" style="margin-top:12px;border-radius: 5px; border-width: 2px; ">Add</button>
		    		</form>
		</div>
		<br><br><br>
		<!-- <label for="a">Timing File</label>
<input id="a" name="a" type="file"> -->
		
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<!-- Include all compiled plugins (below), or include individual files as needed -->
  		<script src="{% static 'default/js/bootstrap.min.js' %}"></script>
	</body>
</html>